/* Backgrounds */

.apple-bg {
    background-image: url('../img/background/apple.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.samsung-bg {
    background-image: url('../img/background/samsung.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.sale-bg {
    background-image: url('../img/background/sale.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 75%;
}

.mk-bg {
    background-image: url('../img/background/mk.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.lv-bg {
    background-image: url('../img/background/lv.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.garmin-bg {
    background-image: url('../img/background/garmin.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.fitbit-bg {
    background-image: url('../img/background/fitbit.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.fossil-bg {
    background-image: url('../img/background/fossil.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.polar-bg {
    background-image: url('../img/background/polar.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 75%;
}

.casio-bg {
    background-image: url('../img/background/casio.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 75%;
}

.misfit-bg {
    background-image: url('../img/background/misfit.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.conn-bg {
    background-image: url('../img/background/conn.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.amazfit-bg {
    background-image: url('../img/background/amazfit.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.mobvoi-bg {
    background-image: url('../img/background/mobvoi.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}