/* Carousel homepage */

.carousel {
    margin-bottom: 20px;
}

.carousel-item {
    height: 80vh;
    background: no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Banner homepage */

.banner-text {
    color: gold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* Card homepage */

.card-deck {
    margin: 20px;
}

.card {
    width: 100%;
}

.card-img {
    size: 50%;
    display: block;
    align-self: center;
}

.card-title {
    font-weight: bolder;
    font-size: 20;
    color: black;
}

.card-text {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* Text on pages */

.content-text {
    color: gold;
    margin-left: 20px;
    text-align: center;
}

.content-row {
    background-color: gold;
}