/* Carousel homepage */

.carousel {
    margin-bottom: 20px;
}

.carousel-item {
    height: 80vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-control-next-icon {
    background-image: url('../img/icon/arrow_right.svg');
    transform: scale(2.0);
}

.carousel-control-next-icon:hover {
    transform: scale(2.5);
}

.carousel-control-prev-icon {
    background-image: url('../img/icon/arrow_left.svg');
    transform: scale(2.0);
}

.carousel-control-prev-icon:hover {
    transform: scale(2.5);
}

.carousel .carousel-indicators li {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}


/* Banner homepage */

.banner-text {
    color: gold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* Text on pages */

.content-text {
    color: gold;
    text-align: center;
}

.content-row {
    background-color: gold;
    height: 2px;
}

.group-text {
    text-align: left;
    margin-left: 40px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* Shop Item */

.sale {
    color: red;
    font-size: 20px;
    -webkit-text-decoration: line-through;
    -moz-text-decoration: line-through;
    -o-text-decoration: line-through;
    text-decoration: line-through;
}

.item-group {
    text-align: center;
    display: inline-block;
    padding: 8px;
    width: 100%;
}

.shop-item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 8px;
    min-width: 200px;
    max-width: 340px;
    width: 100%;
    min-height: 280px;
    max-height: 400px;
    height: 100%;
    background-color: #505050;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.shop-item * {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.shop-item img {
    max-width: 100%;
    vertical-align: middle;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.shop-item figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.item-name {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    margin: 3px 0;
    font-weight: 400;
}

.item-price {
    font-weight: bolder;
    color: gold;
    font-size: 22px;
}

.shop-item:hover img {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}


/* Category Item */

.category-group {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

.category-item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    min-width: 480px;
    max-width: 500px;
    width: 100%;
    min-height: 520px;
    max-height: 580px;
    height: 100%;
    background-color: #505050;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.category-item * {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.category-item img {
    max-width: 100%;
    vertical-align: middle;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.category-item figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.category-name {
    color: white;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    margin: 3px 0;
    font-weight: 400;
}

.category-item:hover img {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}


/* Backgrounds */

.apple-bg {
    background-image: url('../img/background/apple.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.samsung-bg {
    background-image: url('../img/background/samsung.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.sale-bg {
    background-image: url('../img/background/sale.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 75%;
}

.mk-bg {
    background-image: url('../img/background/mk.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}