.footer {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: #343A40;
}

.footer-header {
    color: gold;
}

.footer-row {
    margin: 1px;
    background-color: gold;
}

.footer-text {
    color: white;
    font-size: 14px;
}

.footer-text a {
    color: white;
}

.footer-copyright {
    color: white;
    font-size: 14px;
}

.tel {
    color: blue !important;
}