.footer {
    min-height: 200px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: #343A40;
    color: white;
    font-size: 14px;
    bottom: 0;
}

.footer-row {
    background-color: gold;
    height: 1px;
}

.footer a:hover {
    color: white !important;
}

.footer-header {
    color: gold;
    text-transform: uppercase !important;
}

.footer-text {
    line-height: 20.8px;
    font-size: 14px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-payment {
    text-align: right;
    font-size: 28px;
}

.footer-payment a {
    color: slategray !important;
}

.social-footer {
    text-align: left;
    font-size: 28px;
}

.social-footer a {
    color: slategray !important;
}