.footer {
    min-height: 200px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: #343A40;
    color: white;
    font-size: 14px;
    bottom: 0;
}

.footer a:hover {
    color: white !important;
}

.footer-header {
    color: gold;
    text-transform: uppercase !important;
}