body {
    padding: 0;
    margin: 0;
    padding-top: 56px;
    background-color: #202020;
    font-family: 'Montserrat', 'Gotham Book', sans-serif;
    margin: 0px;
    overflow: hidden;
}

#load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: url('../img/icon/loading.gif') center no-repeat black;
}